version: '3.9'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/chefselect-backend
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c 'flask db upgrade && flask run --host=0.0.0.0'

  db:
    image: postgres:13
    env_file:
      - .env
    ports:
      - "5432:5432"
